* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./images/bricks.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.contact-box {
  border-radius: 30px;
  width: 500px;
  background: rgba(226, 226, 226, 0.862);
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.form {
  margin: 35px;
}
.input-field {
  color: rgb(0, 0, 0);
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}
.textarea-field {
  color: rgb(0, 0, 0);
  height: 150px;
  padding-top: 10px;
}
.btn {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: rgb(0, 143, 204);
  font-size: 12px;
  border: none;
  cursor: pointer;
}
